<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/main.css">
	
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	     <!-- MAIN CSS -->
		 <link rel="stylesheet" href="css/style.css">
</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
	<!-- PRE LOADER -->
	<section class="preloader">
		<div class="spinner">

			 <span class="spinner-rotate"></span>
			 
		</div>
   </section>


   <!-- MENU -->
   <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
		<div class="container">

			 <div class="navbar-header">
				  <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					   <span class="icon icon-bar"></span>
					   <span class="icon icon-bar"></span>
					   <span class="icon icon-bar"></span>
				  </button>

				  <!-- lOGO TEXT HERE -->
				  <a href="Main.html" class="navbar-brand">NewBee</a>
			 </div>

			 <!-- MENU LINKS -->
			 <div class="collapse navbar-collapse">
				  <ul class="nav navbar-nav navbar-nav-first">
					   <li><a href="Main.html">Home</a></li>
					   <li><a href="job-listing.html">Jobs</a></li>
					   <li ><a href="about-us.html">About Us</a></li>
					   <li><a href="blog-posts.html">Blog</a></li>
					   <li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
							
							<ul class="dropdown-menu">
								 
								 <li><a href="testimonials.html">Testimonials</a></li>
								 
							</ul>
					   </li>
					   <li><a href="contact.html">Contact Us</a></li>
					   <li class="active"><a href="/profile">Profile</a></li>
					   <li><a></a></li>
					   <li><a></a></li>
					   <li><a></a></li>
					   
					   <li><a href="/">Sign out</a></li> 
				  </ul>
			 </div>

		</div>
   </section>
   <section>
	   <div class="container h-100">
			<div class="col-md-4 col-md-offset-4">
				<div>
					<p>Profile Details</p>
				</div>
				<div>
					<center>
						<table class="table table-hover text-center">
							<form>
								<tr>
									<td>Name </td>
									<td id="name_val"></td>
									<td><input type="text" id="user_name" name="fname"></td>
									<td><input type="button" value="Update" onclick="update_name()"/></td>
								</tr>
							</form>
							<tr>
								<td>Email </td>
								<td id="email_val"></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>Age </td>
								<td id="age_val"></td>
								<td><input type="number" id="user_age" name="fage"></td>
								<td><input type="button" value="Update" onclick="update_age()"/></td>
							</tr>
							
						</table>
					</center>
				</div>
				<div class="abc">
					<a href="/logout">Logout</a><br><br>

					<a href="main.html">Go to Home Page</a>
				</div>
			</div>
		</div>
	</section>
	<custom-footer></custom-footer>
	     <!-- SCRIPTS -->
		 <script src="js/jquery.js"></script>
		 <script src="js/bootstrap.min.js"></script>
		 <script src="js/owl.carousel.min.js"></script>
		 <script src="js/smoothscroll.js"></script>
		 <script src="js/custom.js"></script>
		 <script src="js/chatbot.js"></script>
		 <script src="js/custom_element.js"></script>
		 <script>
			 document.getElementById("name_val").innerHTML = "<%= name %>";
			 document.getElementById("email_val").innerHTML = "<%= email %>";
			 document.getElementById("age_val").innerHTML = "<%= Age %>";

			 function update_name() {
				// (A1) DATA
				var blue = {"username": document.getElementById("user_name").value, "email" : document.getElementById("email_val").innerHTML};
				// (A2) AJAX
				var xhr = new XMLHttpRequest();
				xhr.open("POST", "/update_name");
				xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
				xhr.onreadystatechange = function () {
					if (xhr.readyState === 4 && xhr.status === 200) {
						var res = JSON.parse(xhr.response);
						console.log(res);
					}
				};
				xhr.send(JSON.stringify(blue));		
				setTimeout(function(){
				document.getElementById("name_val").innerHTML = "<%= name %>";
				document.location.reload()

				}, 300); 	
				}

			function update_age() {
				// (A1) DATA
				var blue = {"age": document.getElementById("user_age").value, "email" : document.getElementById("email_val").innerHTML};
				// (A2) AJAX
				var xhr = new XMLHttpRequest();
				xhr.open("POST", "/update_age");
				xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
				xhr.onreadystatechange = function () {
					if (xhr.readyState === 4 && xhr.status === 200) {
						var res = JSON.parse(xhr.response);
						console.log(res);
					}
				};
				xhr.send(JSON.stringify(blue));	
				setTimeout(function(){
				document.getElementById("age_val").innerHTML = "<%= Age %>";
				document.location.reload()
				}, 300); 		
				}
		 </script>
</body>
</html>